@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuggles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // border: 1px solid black;
    background-color: #ff0000aa;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(auto, auto);
}

#header-greeting {
    display: block;
    grid-area: 1 / 1 / 2 / 7;
        padding: 15px;
        font-size: calc(100vw / 32);
        color: white;
        letter-spacing: calc(100vw / 99.99);
        background: #1a1a1a;
        width: 100%;
        font-family: "Otomanopee One";

}

header {
    // border: 1px solid black;
    grid-area: 2 / 1 / 3 / 7;

    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

nav {
    display: block;
    width: 100%;
}

ul {
    align-items: center;
    background: white;
    // border: 1px solid black;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style-type: none;
}

li {
    // border: 1px solid green;
    display: inline-block;
    width: 100%;
    text-align: center;
}

a {
    color: black;
    font-size: calc(100vw / 48);
    font-family: Anton;
    letter-spacing: 1px;
}

.button {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 15px;
    background: #ff0000;
    border: none;
    width: 100%;
}

.button:hover {
    background: #000;
}

main {
    grid-area: 3 / 1 / 4 / 7;
}

img {
    grid-area: auto / 1 / auto / 6;
    // border: 1px solid green;
    display: block;
    height: auto;
    width: 100%;
}

#greeting {
    // border: 1px solid black;
    grid-area: 3 / 1 / 4 / 7;
    display: flex;
    flex-direction: column;
    font-family: "Roboto Condensed";
}

.flex {
    display: flex;
    // border: 1px solid black;
    flex-direction: row;
    grid-column: 1 / 7;
    margin: 15px auto;
    width: 100%;
}

.flex-item {
    // border: 1px solid black;
    height: 100px;
    width: 33.34%;
}

#quick-1 {
    background-color: red;
}
#quick-2 {
    background-color: lightgray;
}
#quick-3 {
    background-color: blue;
}

p {
    margin: 15px;
}

h1 {
    background: slateblue;
    padding: 15px;
    text-align: center;
    font-size: calc(100vw / 24);
}

@media screen and (min-width: 700px) {
    ul {
        justify-content: flex-end;
    }

    #greeting {
        // border: 1px solid black;
        background: orangered;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #greeting p {
        padding: 25px 75px;
        font-size: calc(100vw / 32);
        line-height: 135%;
        text-align: justify;
    }

    #greeting-image {
        flex-basis: 33.34%;
    }

    #greeting-copy {
        align-items: center;
        background-color: orangered;
        flex-basis: 66.66%;
        justify-content: center;
    }
}