* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-background-color: #fff;
}


body {
    background: var(--body-background-color);

    // img {
    //     height: auto;
    //     width: 100%;
    // }
    
    header {
        background-color: white;
        position: relative;
        // border: 1px solid red; 
        // position: sticky;
        // position: -webkit-sticky;
        width: 100%;
        // z-index: 2;

        
        
        nav {
            position: sticky;
            position: -webkit-sticky;
            top: 0px;
            z-index: 2;
            width: 100%;
            display: flex;

            img {
                display: block;
                height: auto;
                width: 25px;
            }
    
            ul {
                // border: 1px solid rgb(42, 121, 42);
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                width: 100%;
                position: sticky;
                position: -webkit-sticky;
                top: 0;

                li {
                    // border: 1px solid green;
                    display: inline-block;
                    padding: 0 5px;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        width: 100%;
        
        section {
            background-color: #fff;
            // border: 1px solid black;
            overflow: hidden;
            width: 100%;

            h1 {
                animation: fade 2s linear 2s infinite ;
                // border: 1px solid black;
                padding: 10px 0;
                text-align: center;
                transition: all .5s;

                @keyframes fade {
                    
                }
            }

            img {
                display: block;
                // border: 1px solid limegreen;
                height: auto;
                // padding: 10px 15px;
                padding-bottom: -5px;
                width: 100%;
            }

            img::after {
                content: "asdfadsf";
                margin: 0;
                padding: 0;
            }

            p {
                background: #fff;
                // border: 1px solid pink;
                padding: 10px 15px;
                text-align: justify;
                width: 100%;
            }
        }
    }
}