* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(auto, auto);
}

#header-greeting {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 1 / 1 / 2 / 7;
  margin: 15px auto;
  font-size: 32px;
}

header {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 2 / 1 / 3 / 7;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

nav {
  display: block;
  width: 100%;
}

ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
}

li {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  border: none;
  width: 100%;
}

main {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 3 / 1 / 4 / 7;
}

img {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: auto / 1 / auto / 6;
  display: block;
  height: auto;
  width: 100%;
}

#greeting {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 3 / 1 / 4 / 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
  margin: 15px auto;
  width: 100%;
}

.flex-item {
  height: 100px;
  width: 33.34%;
}

#quick-1 {
  background-color: red;
}

#quick-2 {
  background-color: lightgray;
}

#quick-3 {
  background-color: blue;
}

p {
  margin: 15px;
}

h1 {
  text-align: center;
}

@media screen and (min-width: 700px) {
  ul {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #greeting {
    border: 1px solid black;
    background: green;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #greeting p {
    padding: 15px 75px;
    font-size: 24px;
    text-align: justify;
  }
  #greeting-image {
    -ms-flex-preferred-size: 33.34%;
        flex-basis: 33.34%;
  }
  #greeting-copy {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: green;
    -ms-flex-preferred-size: 66.66%;
        flex-basis: 66.66%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */